$main-color: skyblue;

body {
  background-color: $main-color;
}

.row {
  display: flex;
}

.col {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin: 1px;
}

.col.checked {
  background-color: black;
}

// .reset {
//   display: none;
// }

// .reset.show {
//   display: inline-block;
// }

.reset:not(.show) {
  display: none;
}
